server {
    listen ${NGINX_PORT};  # Usaremos la variable de entorno NGINX_PORT para configurar el puerto

    server_name localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}
